.button {
  background: $deep-blue;
  border: none;
  border-radius: $BORDER_NORMAL;
  padding: 16px 24px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: $transition;

  &.secondary {
    background: $light-blue;
    color: $deep-blue;
  }

  &:hover {
    opacity: 0.77;
  }

  &:active {
    transform: translateY(4px);
  }

  &:focus {
    @include FocusState();
  }
}
