.textarea {
  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  &__label {
    @include LabelStyle();
  }
  &__input {
    @include InputStyle();
    min-height: 370px;
    height: auto;
    resize: vertical;
  }
}
