@mixin FocusState() {
  box-shadow: 0 0 2px 1px $blue;
  outline: 0;
}

@mixin LabelStyle() {
  font-size: 24px;
  line-height: 29px;
  color: $GRAY;
  margin-bottom: 12px;
  display: inline-block;
}

@mixin InputStyle() {

}

@mixin tablet-size {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phone-size {
  @media screen and (max-width: 480px) {
    @content;
  }
}
