$deep-blue: #0166ff;
$light-blue: #d8e7fe;
$blue: #71aaff;
$gray-3: #828282;
$GRAY: #A4A3A3;
$LIGHT_GRAY: #EFEFEF;
$WHITE: #FFFFFF;

$BORDER_NORMAL: 12px;

$transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
