@import './normalize';
@import './fonts';
@import './variables';
@import './mixins';
@import './components/index';

@import './components/addItems/items';
@import './components/item/item';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0;
}

h1 {
  font-size: 72px;
  margin-bottom: 48px;

  @include phone-size {
    font-size: 48px;
    margin-bottom: 34px;
  }
}

h2 {
  font-size: 64px;
  margin-bottom: 40px;
}

h3 {
  font-size: 48px;
  margin-bottom: 34px;

  @include phone-size {
    font-size: 24px;
    margin-bottom: 18px;
  }
}

h4 {
  font-size: 36px;
  margin-bottom: 24px;
}

h5 {
  font-size: 24px;
  margin-bottom: 18px;
}

h6 {
  font-size: 18px;
  margin-bottom: 16px;
}

.section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;

  @include phone-size {
    display: block;
  }

  & > section:nth-of-type(2) {
    padding-left: 16px;

    @include phone-size {
      padding-left: 0;
      border: none;
      margin-top: 24px;
    }
  }

  button {
    width: calc(50% - 20px);
    &:first-of-type {
      margin-right: 40px;
    }

    @include phone-size {
      width: 100%;

      &:first-of-type {
        margin: 0 0 20px 0;
      }
    }
  }
}
